html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body{
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 0px;
}


* {
    font-family: Raleway;
}

h3{
    font-family: 'Montserrat';
    margin: 5px;
    font-size: 1.2rem;
}


/*div{ /* à enlever à la fin, c'est juste pour positionner les blocs comme on souhaite 
    border : 1px solid black;
} */

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-image: url('../img/background2_sombre.jpg');
    background-size: contain;
    color: white;
}

.col1{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.image_borne{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.color_picker{
    display: flex;
    flex-direction: row;
}

.color_picker_content{
    padding: 20px;
    margin: auto;
    border: 1px solid black;
    background-color: rgba(255,138,140, 0.5);
    border-radius: 10px;
}

.color_picker_radio{
    opacity: 1;
}

.col2{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.explication_text{
    width: 100%;
    height: 20%;
}

.upload_header{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.div_header{
    width: 100%;
    height: 60%;
}

.div_header p{
    font-size: 0.8rem;
    padding: 0px;
    margin: 10px 0px 5px;
}

.input_header{
    width: max-content;
    height: max-content;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color:lavender;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
    color: black;
    padding: 5px;
    border-radius: 5px;
}

.img_header{
    width: 100%;
    height: 40%;
    display: flex;
}

#img_header{

}

.img_header img{
    width: 50%;
    height: 90%;
    margin: auto;
    max-width: 50%;
    max-height: 90%;
}

.upload_carre{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.div_carre{
    width: auto;
    height: auto;
}

.div_carre p{
    font-size: 0.8rem;
    padding: 0px;
    margin: 10px 0px 5px;
}

.input_carre{
    width: max-content;
    height: max-content;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color:lavender;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
    color: black;
    padding: 5px;
    border-radius: 5px;
}

.img_carre{
    width: 60%;
    height: 100%;
    display: flex;
    margin: auto;
}
/*  styles for colorPicker*/

input[type='radio'] {
    -webkit-appearance:none;
    height:3em; width:3em;
    border: 1px solid darkgray;
    border-radius:50%;
    outline:none;
}

input[type='radio']:before {
    content:'';
    display:block;
    width:60%;
    height:60%;
    margin: 7%;    
    border-radius:50%;    
}

input[type='radio']:checked:before {
    border: 5px solid white;
}

input[type='radio'] 
{
      background:  #2BD931;
}

input[type='radio'] + #bleu
{
      background: #2632D7;
}

input[type='radio'] + #rouge
{
      background: #C10808;
}

input[type='radio'] + #jaune
{
      background: #E3C850;
}


#testbox{
  width :50px;
  height : 50px;
  background-color : black;
}

.img_carre img{
    width: 90%;
    height: 90%;
    margin: auto;
}

#img_carre{

}

#borne_arcade{
    width: 25%;
    height: 75%;
    margin: auto;
    background-image: url("../img/Bleu.png");
    z-index: 10;
    position: sticky;
    display: flex;
    flex-direction: row;
    background-repeat: round;
}

.borne_header{
    width: 88%; /* 210px */
    height: 8.5%;
    top: 1.5%;
    position: absolute;
    margin-left: 5.65%;
}

.borne_header img{
    object-fit: cover;
}

.borne_carre{
    width: 88%; /* 210px */
    height: 39.5%; /* 230px */
    bottom: 2%;
    position: absolute;
    margin-left: 5.65%;
    display: flex;
}

.borne_carre img{
    object-fit: cover;
}


#borne_header{
    width: 100%;
    height: 100%;
}

#borne_carre{
    width: 100%;
    height: 100%;
}

.div_gif{
    border: 1px solid black;
    width: 68%;
    margin: auto;
    z-index: 999;
    position: absolute;
    height: 18.5%;
    top: 130px;
    left: 38px;
}

.div_gif img{
    width: 100%;
    height: 100%;
    background-size: contain;
}

.explication_text{
    text-align: center;
    margin-top: 25px;
    display: flex;
}

.text_background{
    border: 1px solid black;
    background-color: rgba(42,75,105, 0.5);
    border-radius: 10px;
    width: max-content;
    height: max-content;
    padding: 10px;
    margin: auto;
}