<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prévisualisation de borne personnalisée</title>
    <link rel="stylesheet" href="../css/style.css" />
</head>
<body>
    <div class="container">
        <div class="col1">
            <div class="image_borne">

            </div>
            <div class="color_picker">
                <input type="radio" class="checkmark" id="vert" name="drone" value="vert" onclick="changeColor('vert')">              
                <input type="radio" class="checkmark" id="bleu" name="drone" value="bleu"  onclick="changeColor('bleu')">
                <input type="radio" class="checkmark" id="jaune" name="drone" value="jaune"  onclick="changeColor('jaune')">
                <input type="radio" class="checkmark" id="rouge" name="drone" value="rouge"  onclick="changeColor('rouge')">
                
                <div id="testbox">
                
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="explication_text">

            </div>
            <div class="upload_header">
                <div class="input_header">

                </div>
                <div class="img_header">

                </div>
            </div>
            <div class="upload_carre">
                <div class="input_carre">

                </div>
                <div class="img_carre">

                </div> 
            </div>
        </div>
    </div>
    <script src="../js/fonctions.js"></script>
</body>
</html>