<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prévisualisation de borne personnalisée</title>
    <link rel="stylesheet" href="../css/style.css" />
</head>
<body>
    <div class="container">
        <div class="col1">
            <div class="image_borne">
                <div id="borne_arcade">
                    <div class="borne_header">
                        <img id="borne_header" onClick="javascript:console.log(document.querySelector('img').src)"/>
                    </div>
                    <div class="div_gif">
                        <img id="div_gif" onClick="javascript:console.log(document.querySelector('img').src)"/>
                    </div>
                    <div class="borne_carre">
                        <img id="borne_carre" onClick="javascript:console.log(document.querySelector('img').src)"/>
                    </div>
                </div>

                <div class="color_picker">
                    <div class="color_picker_content">
                        <div class="color_picker_radio">
                            <input type="radio" class="checkmark" id="vert" name="colorPicker" value="vert" onclick="changeColor('vert')">              
                            <input type="radio" class="checkmark" id="bleu" name="colorPicker" value="bleu" checked onclick="changeColor('bleu')">
                            <input type="radio" class="checkmark" id="jaune" name="colorPicker" value="jaune"  onclick="changeColor('jaune')">
                            <input type="radio" class="checkmark" id="rouge" name="colorPicker" value="rouge"  onclick="changeColor('rouge')">
                        </div>
                    </div>
                </div>  
            </div>
        </div>
        <div class="col2">
            <div class="explication_text">

            </div>
            <div class="upload_header">
                <div class="div_header">
                    <h3>Insérez une image qui ira sur la partie haute de la borne</h3>
                    <p>(priorisez les images en format paysage, format conseillé : "format" )</p>
                    <input type="file" accept="image/*" onchange="loadHeader(event)" class="input_header">
                </div>
                <div class="img_header">
                    <img id="img_header" onClick="javascript:console.log(document.querySelector('img').src)"/>
                </div>
            </div>
            <div class="upload_carre">
                <div class="div_carre">
                    <h3>Insérez une image qui ira sur la partie centrale de la borne</h3>
                    <p>(priorisez les images en format carré, format conseillé : "format" )</p>
                    <input type="file" accept="image/*" onchange="loadCarre(event)" class="input_carre">
                </div>
                <div class="img_carre">
                    <img id="img_carre" onClick="javascript:console.log(document.querySelector('img').src)"/>
                </div> 
            </div>
        </div>
    </div>
    <script src="../js/fonctions.js"></script>
</body>
</html>